body {
  font-weight: bold;
  color: #333;
  line-height:1.5;
  letter-spacing:0.05em;
}

.wrapper{
  max-width:1080px;
  margin:0 auto;
  padding: 12px 20px;
}

.main {
  text-align: center;
}

.header{
  border-bottom: 1px solid #ebeaeb;
}

.header-wrapper {
  max-width:1080px;
  margin:0 auto;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color:#26a69a;
}
.header-nav {
  padding: 8px;
  color:#26a69a;
}

.menu {
  display: flex;
}

.menu-item {
  margin-right: 24px;
}


.humburger {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}

.line-top,
.line-center,
.line-bottom {
  width: 30px;
  height: 2px;
  background-color: #26a69a;
  position: absolute;
}

.line-top {
  top: 0;
}
.line-center {
  top: 14px;
}
.line-bottom {
  top: 29px;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .humburger {
    display: block;
  }
}

.fv {
  max-width: 1100px;
  margin: 32px auto 0 ;
}



.fv-card {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;

}



.fv-img{
  max-width: 600px;
  position:relative;
}

.fv-img::before{
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  left: 0;
  border-width: 485px 50px 0 0;
  border-color: #fff transparent transparent;
}

.fv-img::after{
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  right: 0;
  border-width: 0 0 485px 50px;
  border-color: transparent transparent #fff;
}

.img-item{
  width:100%;
}

.text-area {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  padding-right:16px;
  text-align: left;

}

.title {
  font-size: 36px;
  margin-bottom: 16px;
  color: #26a69a;
}

.btn {
  display:block;
  width:300px;
  border: 1px solid #26a693;
  color:#fff;
  background:#26a693;
  border-radius: 60px;
  padding: 16px;
  margin-top: 32px;
  transition: 0.3s;
  text-align: center;
 font-size:24px;
}

.btn:hover {
  transition: 0.3s;
  background:#fff;
  color:#26a693;
}

@media (max-width: 1100px) {
  .fv-card {
    flex-direction:column-reverse;
    align-items:center;
    /* max-width:700px; */
    margin:0 auto;
}
.text-area{
  text-align:center;
  padding:16px;
}
.btn{
  margin: 32px auto 0;
}
}

.category {
  margin: 48px auto 0;
  padding: 8px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  column-gap: 64px;
}

.category-item {
  width:320px;
  min-width: 300px;
  border-radius: 4px;
  box-shadow: 0 1px 12px 0 rgb(0 0 0 / 25%);
  padding: 32px;
  text-align: center;
}

.category-title{
  color:#26a693;
  font-size:20px;
  margin-top:16px;
}

.category-text {
  font-size: 16px;
  margin-top: 24px;
}

@media (max-width: 1100px) {
  .category {
overflow-x:scroll;
  }
}

.contact-btn {
  display:block;
  border: 1px solid #26a693;
  color:#fff;
  border-radius: 60px;
  padding: 16px;
  margin: 48px auto;
  transition: 0.3s;
  text-align: center;
  width: 300px;
  font-size: 24px;
  background: #26a693;
}

.contact-btn:hover {
  background: #FFF;
  color:#26a693;
  transition: 0.3s;
}

.contact-btn:hover::after {
  background: #26a693;
  color: #fff;
  transition: 0.3s;
}



@media (max-width: 1100px) {
 .contact-btn{
   width: 50%;
 }
}

@media (max-width: 600px) {
  .contact-btn{
    font-size:20px;
    width: 80%;
  }

 }

 .footer{
  background: #26a693;
  color:#fff;
  font-size:12px;
  height:48px;
  text-align:center;
  margin:auto;
  display:flex;
  justify-content:center;
align-items:center;
}
